.header {
    position: absolute;
    width: 1240px;
    height: 50px;
    left: 0px;
    top: 0px;
}
.hero {
    position: relative;
    width: 1375px;
    height: 611px;
}

.hero-div {
    position: absolute;
    left: 0%;
    right: 9.82%;
    top: 0%;
    bottom: 5.89%;

    background: #F2F6FF;
    border-radius: 60px;
}

.h1-blue {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    /* or 117% */
    color: #234CAD;
}

.text-blue {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */


    color: #234CAD;
}

.btn-primary {
    position: absolute;
    left: 76.21%;
    right: 12.9%;
    top: 0%;
    bottom: 0%;
    border: 2px solid #234CAD;
    border-radius: 25px;
}

.btn-secondary {
    position: absolute;
    left: 89.11%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: #F2F6FF;
    border-radius: 25px;
}

.btn-text {
    position: absolute;
    height: 29px;
    left: 26.67%;
    right: 25.93%;
    top: calc(50% - 29px/2 + 0.5px);

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 29px;
    /* identical to box height, or 161% */

    text-align: center;

    color: #234CAD;
}

.nav-link {
    position: absolute;
    left: 33.63%;
    right: 35.89%;
    top: 22%;
    bottom: 20%;
}

.newsletter-container {
    position: absolute;
    width: 1240px;
    height: 383px;
    left: 100px;
    top: 4321px;
}

.newsletter {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: #F2F6FF;
    border-radius: 60px;
}

.newsletter-input-container {
    position: absolute;
    left: 29.84%;
    right: 29.84%;
    top: 63.45%;
    bottom: 19.58%;
    background: #FFFFFF;
    border-radius: 17.5px;
    border: 1px solid #234CAD;
}

.newsletter-input {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    padding-left: 5%;
    background: #FFFFFF;
    border-radius: 17.5px;
    border: 1px solid #234CAD;
}

.newsletter-text {
    position: absolute;
    left: 36.05%;
    right: 35.89%;
    top: 40.73%;
    bottom: 45.69%;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */

    text-align: center;

    color: #234CAD;
}

.newsletter-header {
    position: absolute;
left: 27.1%;
right: 27.02%;
top: 19.58%;
bottom: 65.8%;

font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 56px;
/* identical to box height, or 117% */

text-align: center;

color: #234CAD;
}

.newsletter-button {
    position: absolute;
    width: 45px;
    height: 45px;
    left: 445px;
    top: 10px;

    background: #234CAD;
    border-radius: 12.5px;
    border: none;
    color: #FFFFFF;
}

.footer-container {
    position: absolute;
    width: 941px;
    height: 166px;
    left: 249px;
    top: 4854px;
    margin-bottom: 40px;
}

.footer-header {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 49px;
    /* identical to box height, or 163% */


    color: #234CAD;
}

.footer-text {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    /* or 162% */
    color: #234CAD;
}

.section-center-container {
    position: absolute;
    width: 1240px;
    height: 908px;
    left: 100px;
    top: 1900px;
}

.section-center {
    position: absolute;
    width: 1240px;
    height: 858px;
    left: 0px;
    top: 0px;
}

.section-center-text-container {
    position: absolute;
    width: 723px;
    height: 133px;
    left: 259px;
    top: 0px;

}

.section-center-header {
    position: absolute;
    left: 20.89%;
    right: 20.81%;
    top: 0%;
    bottom: 93.83%;
    text-align: center;
}

.section-center-body-text {
    position: absolute;
    left: 32.9%;
    right: 32.82%;
    top: 8.92%;
    bottom: 85.35%;
    text-align: center;
}

.text-blue-header {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    /* or 117% */


    color: #234CAD;

}

.sectionn-center-image-container {
    position: absolute;
    width: 1240px;
    height: 625px;
    left: 0px;
    top: 233px;
}